@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap');

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.hero-section-data{
    font-family: 'Oswald', sans-serif;
    
}

.hero-section-data h1{
    font-weight: bold;
}

.hero-section-image{
    background-color: rgb(107, 107, 187);
    margin-left: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hero-section-image img{
    height: 350px;
    width:100%;
    border-radius: 5px;
    margin-left: 20px;;
    
}

.container button{
    transition: all 0.5s;
}

.container button:hover{
    transform: scale(1.1);
}

@media (max-width:600px) {

    .container{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .hero-section-image{
        margin-top: 40px; 
        
    }

    .hero-section-image img{
        height: 350px;
        width:300px;
        margin-left: -50px;
}
}
